:root {
  --primarycolor: #f36100;
  --bacgroundcolor: #e2e2e2;
  --textcolor: #242424;
  --polyteccolor: #febf00;
  --polyworkscolor: #ff9801;
  --secondarycolor: #0f172c;
  --secondarycolorhover: #192646;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Rubik", sans-serif;
  background-color: var(--bacgroundcolor);
  color: #242424;
}
/* Banner Page Start */
.top-banner {
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.poliwek-banner {
  background: url(/asset/img/background-main.jpg) no-repeat;
  background-size: cover;
}
.top-banner .content {
  padding: 1.4rem 20%;
  max-width: 70%;
}
.top-banner .content img {
  margin-bottom: 1rem;
  height: 5rem;
}
.top-banner .content h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #e2e2e2;
}
.top-banner .content h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
}
.top-banner .content p {
  color: #e2e2e2;
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 2rem;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(1, 1, 3, 0.2);
}
/* Banner Page End */
.polyworks-content {
  padding: 5% 20%;
  width: 100%;
  background: #fff;
}
.col-left,
.col-right,
.col1,
.col2 {
  display: flex;
  margin-bottom: 10%;
}
.image-col2 {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.image-col2 img {
  width: 80%;
}
.col2 .content h3 {
  display: flex;
  justify-content: center;
}
.col-left .content {
  flex: 1;
  margin-left: 5rem;
  color: #242424;
}
.col-right .content {
  flex: 1;
  margin-right: 5rem;
  color: #242424;
}
.row1 .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 3rem;
  width: 100%;
}
.row1 .container .content {
  width: 30%;
  margin-top: 5%;
  /* position: relative; */
}
.row1 p {
  margin-left: 1.5rem;
  position: relative;
}
.row1 .container .content p::after {
  content: "";
  width: 7px;
  height: 9px;
  background: var(--polyworkscolor);
  position: absolute;
  left: -1.5rem;
  top: 0.5rem;
}
.row1 .image img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.polyworks-img {
  width: 500px;
  background-size: cover;
}
.polyworks-img p {
  color: #242424;
  margin-top: 0.5rem;
}
.polyworks-img img {
  width: 100%;
}
.top-banner h2 {
  color: #e2e2e2;
}
h2 {
  color: #242424;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  transition: 0.5s;
}
h3 {
  color: #242424;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.content a h2:hover {
  color: var(--polyteccolor);
}
.content p {
  color: #242424;
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
}
.content p .dot {
  display: flex;
  flex-direction: column;
}
.content p .p-italic {
  font-style: italic;
}
.content img {
  height: 4rem;
  margin-bottom: 1rem;
}
.content .wide-img {
  width: 50rem;
  height: auto;
}
.content .wide-img img {
  width: 100%;
}
.content-extra {
  display: flex;
  margin: 2rem 0;
  gap: 1rem;
  position: relative;
}
.content-extra h2 {
  font-weight: 400;
}
.text-btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
  color: #242424;
  transition: color 0.3s ease;
}
.text-btn:hover {
  color: var(--polyworkscolor);
}
/* Top button bar start */
.tech-btn {
  padding: 0 20% 0;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  background-color: var(--secondarycolor);
}
.tech-btn a {
  height: 3rem;
  margin: 0.5rem 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: #e2e2e2;
  position: relative;
  transition: 0.5s ease;
}
.tech-btn a:hover {
  background-color: var(--secondarycolorhover);
  border-radius: 1rem;
  transition: 0.3s;
  color: var(--polyworkscolor);
}
/* Top button bar End */
.accordion-tabs {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20% 5%;
}
.accordion-container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.accordion-container .col1 {
  margin-bottom: 1rem;
}
.accordion-items {
  background-color: #e2e2e2;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.accordion-link {
  font-size: 1.1rem;
  font-weight: 400;
  color: #242424;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.accordion-link i {
  padding: 0.5rem;
}
.accordion-link .fa-minus {
  display: none;
}
.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #cecece;
  transition: 800ms;
  display: flex;
  margin-bottom: 0.5rem;
}
.answer::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 90%;
  background-color: var(--polyworkscolor);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.answer p {
  color: #242424;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5rem;
  padding: 2rem;
}
.answer img {
  width: 4rem;
  margin-left: 2rem;
}
.answer p span {
  font-weight: 500;
}
.accordion-items:target .answer {
  max-height: 20rem;
}
.accordion-items:target .accordion-link .fa-chevron-down {
  display: none;
}
.accordion-items:target .accordion-link .fa-minus {
  display: block;
}

/* Mobile Phone */
@media (max-width: 425px) {
  html {
    font-size: 100%;
    overflow-x: hidden;
  }
  .top-banner {
    min-height: 50vh;
    width: 100%;
  }
  .top-banner .content {
    padding: 0 2rem;
    width: 100%;
  }
  .top-banner .content {
    max-width: 100%;
  }
  .polyworks-content,
  .row3,
  .vibrometry-areas-application-tittle,
  .accordion-tabs {
    padding: 2rem 2rem;
  }
  .col-left,
  .col1,
  .col2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    color: #242424;
  }
  .col-right {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10%;
    color: #242424;
  }
  .col-left .content {
    margin-left: 0;
  }
  .col-left .content img {
    width: 30%;
  }
  .row1 .container .content {
    width: 100%;
    margin-top: 5%;
  }
  .row1 .image {
    display: flex;
    justify-content: center;
  }
  .row1 .image img {
    width: 50%;
    margin-bottom: 1rem;
  }
  .row1 .text-btn {
    margin-top: -1.5rem;
  }
  .row2 .container {
    display: flex;
    width: 100%;
    margin-bottom: 5rem;
  }
  .row2 .container .content {
    width: 100%;
    margin-bottom: -3rem;
  }
  .row3 .container .content {
    width: 100%;
    height: 2.5rem;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    transition: 0.5s ease;
  }
  .row4 .container {
    display: flex;
    flex-direction: column;
  }
  .row4 .container .content {
    width: 100%;
  }
  .content .cta {
    margin-bottom: 1rem;
  }
  .polyworks-img {
    width: 100%;
    background-size: cover;
  }
  .polyworks-img p {
    color: #242424;
    margin-bottom: 1rem;
    margin-top: -1rem;
  }
  .polyworks-img img {
    width: 100%;
    margin-bottom: 1rem;
  }
  .col1 .iframe-big iframe {
    width: 370px;
    height: 208px;
  }
  .iframe-big {
    width: 100%;
    height: 100%;
  }
  iframe {
    width: 370px;
    height: 208px;
  }
  .technology .container {
    background: var(--secondarycolor);
    padding: 2rem;
  }
  .technology .container .main-tittle {
    margin-bottom: 2rem;
  }
  .technology .container .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .text-content a img {
    width: 2rem;
  }
  .tech-btn {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
  }

  .footer-col {
    width: 100%;
  }
}
